<div class="container-fluid row image-row">
    <div class="col p-2">
        <div class = "image" id="img1">
            <div class = "image-overlay">
                <h1 class = "text-light">Abstract</h1>
                <hr style = "color: white">
                <p class = "text-light">Abstract photography is a form of visual art that relies on the use of shapes, colors, textures, and other visual elements to create a non-representational or non-objective image. Unlike traditional photography, which seeks to capture a specific subject or scene, abstract photography is more concerned with capturing the essence of a particular moment or idea.

                    One of the key aspects of abstract photography is that it often involves a degree of experimentation and exploration. Photographers may use a range of techniques, such as long exposures, multiple exposures, or intentional camera movement, to create unique and unusual images that challenge viewers' perceptions and expectations.</p>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class = "image" id="img2">
            <div class = "image-overlay">
                <h1 class = "text-light">Nature</h1>
                <hr style = "color: white">
                <p class = "text-light">Nature photography is a genre of photography that focuses on capturing images of the natural world, including landscapes, wildlife, and plant life. The aim of nature photography is to showcase the beauty, diversity, and wonder of the natural world.

                    Nature photography can encompass a wide range of subjects, from stunning landscapes that capture the grandeur of mountains, forests, and oceans, to close-up shots of delicate flowers, insects, and other small details of the natural world. Photographers who specialize in nature photography often spend long hours outdoors, exploring different environments and waiting for the perfect moment to capture a particular scene or subject.</p>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class = "image" id="img3">
            <div class = "image-overlay">
                <h1 class = "text-light">Product</h1>
                <hr style = "color: white">
                <p class = "text-light">Product photography is a specialized genre of commercial photography that focuses on creating high-quality images of products for use in marketing and advertising. The primary goal of product photography is to showcase the features and benefits of a product in a way that is visually appealing and informative to potential customers.

                    Product photographers work with a wide range of products, including consumer goods, food and beverage, jewelry, clothing, and electronics. They are often hired by companies, advertising agencies, and e-commerce websites to create product images for use in print ads, online marketing campaigns, product catalogs, and packaging.
                    
                    One of the key elements of successful product photography is lighting. Product photographers use a variety of lighting techniques, including natural light, studio lighting, and special effects lighting, to highlight the unique features of a product and create a sense of depth and texture.</p>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class = "image" id="img4">
            <div class = "image-overlay">
                <h1 class = "text-light">Food</h1>
                <hr style = "color: white">
                <p class = "text-light">Food photography is a specialized genre of photography that focuses on capturing high-quality images of food and drink for use in marketing, advertising, cookbooks, and other media. The primary goal of food photography is to create images that make the food look as delicious and appealing as possible, in order to entice viewers to try it themselves.

                    Food photographers work with a wide range of food and drink, from simple dishes to complex and intricate meals. They often collaborate with chefs, food stylists, and prop stylists to create visually compelling images that showcase the texture, color, and other sensory qualities of the food.</p>
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class = "image" id="img5">
            <div class = "image-overlay">
                <h1 class = "text-light">Travel</h1>
                <hr style = "color: white">
                <p class = "text-light">Travel photography is a genre of photography that focuses on capturing images of the people, cultures, landscapes, and architecture of different parts of the world. The primary goal of travel photography is to document and convey the experience of travel, and to inspire viewers to explore new places and cultures.

                    Travel photographers work in a variety of settings, from bustling cities to remote wilderness areas. They often spend long periods of time in a particular location, immersing themselves in the local culture and capturing the unique aspects of that place through their photographs.
                    
                    One of the key elements of successful travel photography is the ability to tell a story through images. Travel photographers must be able to capture the essence of a place, including its people, architecture, and landscapes, in a way that effectively communicates the mood and atmosphere of that location.</p>
            </div>
        </div>
    </div>
</div>